---
import MenuLinks from "./MenuLinks.astro";

export interface Props {
  language: string;
}
const { language } = Astro.props;

let resume = "Resume";

let currentHref = "/";
let changeLanguage = "/es";
let links = {
  home: {
    text: "Home",
    href: "/",
  },
  about: {
    text: "About",
    href: "/about",
  },
  projects: {
    text: "Work",
    href: "/work",
  },
  education: {
    text: "Education",
    href: "/education",
  },
  contact: {
    text: "Contact",
    href: "/contact",
  },
}

if (language == "English") {
  currentHref = "/es"
  changeLanguage = "/"

  resume = "Currículum";

  links = {
    home: {
      text: "Home",
      href: "/es",
    },
    about: {
      text: "Sobre",
      href: "/es/about",
    },
    projects: {
      text: "Proyectos",
      href: "/es/work",
    },
    education: {
      text: "Educación",
      href: "/es/education",
    },
    contact: {
      text: "Contacto",
      href: "/es/contact",
    },
  }
}
---

<header>
  <nav>
    <div class="left-container">
      <a href={currentHref} class="brand-link">
        <img src="/assets/lamb.svg" alt="lamb icon with link to home page" />
      </a>
      <a class="language" href={changeLanguage}>{language}</a>
      <a class="cv-navbar" href="/assets/cv-frontend.pdf">{resume}</a>
    </div>
    <MenuLinks links={links} />
  </nav>
</header>

<style lang="scss">
@import "../styles/colors.scss";

header {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 5rem;
  padding: 0 2.25rem;
  nav {
    width: 100%;
    height: 100%;
    margin: 0.313rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .left-container {
      display: flex;
      align-items: center;
      gap: 2rem;

      .cv-navbar {
        display: none;
      }
    }
    .brand-link {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;
      img {
        height: 2.5rem;
        width: 2.5rem;
        background: $secondary;
        border-radius: 100%;
      }
    }
    a {
      text-decoration: none;
    }
    a:hover {
      color: $primary;
    }
  }
}
@media (min-width: 425px) {
  header {
    padding: 0 4rem;
  }
}
@media (min-width: 600px) {
  header nav .left-container .cv-navbar {
    display: block;
  }
}
</style>
