---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	lang: string;
	title: string;
	description: string;
}

const { lang, title, description } = Astro.props;

let changeLanguage;

if (lang == "en") {
	changeLanguage = "Spanish" 
}
else {
	changeLanguage = "English"
}
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description}>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Chivo&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="bg-wave"></div>
		<Navbar language={changeLanguage}/>
		<slot />
		<Footer />
	</body>
</html>
<style lang="scss" is:global>
@import "../styles/global.scss";
.bg-wave {
	z-index: -1;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100vh;
	background: url("/public/assets/wave.svg") no-repeat center;
	background-size: cover;
}
</style>
